spring:
  application:
    name: notification

  main:
    banner-mode: off

  cloud:
    function:
      definition: orderCreated
    stream:
      function:
        definition: orderCreated
      bindings:
        orderCreated-in-0:
          destination: order.exchange.new
          group: notification-group
          content-type: application/json
      kafka:
        binder:
          brokers: localhost:9092

#      rabbit:
#        bindings:
#          createOrder-out-0:
#            producer:
#              routing-key-expression: '"order.tracking"'


#  rabbitmq:
#    host: localhost
#    port: 5672
#    username: guest
#    password: guest
#
#rabbitmq:
#  exchange:
#    name: order.exchange
#  queue:
#    name: order.queue
#  routing:
#    key: order.tracking

server:
  port:
    9090