server:
  port: 8083

spring:
  profiles:
    active: default
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/order_data
    username: ${DB_USER}
    password: ${DB_USER}
    driver-class-name: com.mysql.cj.jdbc.Driver

#  rabbitmq:
#    host: localhost
#    port: 5672
#    username: guest
#    password: guest

  cloud:
    stream:
      bindings:
        createOrder-out-0:
          destination: order.exchange.new
          content-type: application/json

      kafka:
        binder:
          brokers: localhost:9092

#      rabbit:
#        bindings:
#          createOrder-out-0:
#            producer:
#              routing-key-expression: '"order.tracking.new"'

#  rabbitmq:
#    host: ${RABBITMQ_HOST:localhost}
#    port: ${RABBITMQ_PORT:5672}
#    username: ${RABBITMQ_USERNAME:guest}
#    password: ${RABBITMQ_PASSWORD:guest}
#    connection-timeout: 30000

#rabbitmq:
#  exchange:
#    name: order.exchange
#  queue:
#    name: order.queue
#  routing:
#    key: order.tracking



  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true



  main:
    banner-mode: off

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true
  tracing:
    sampling:
      probability: 1.0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true

# circuit breaker

resilience4j:
  circuitbreaker:
    instances:
      productService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        automaticTransitionFromOpenToHalfOpenEnabled: true
        slidingWindowType: count_based

